* @PorametPat @Marie2222

*.js @zigen @rdviii @Naphann @mhajdusek @res6idue
*.json @zigen @rdviii @Naphann @mhajdusek @res6idue
*.ts @zigen @rdviii @Naphann @mhajdusek @res6idue
*.tsx @zigen @rdviii @Naphann @mhajdusek @res6idue
